@{
    ViewData["Title"] = "Home Page";
}
<header>

<nav>
     
       <ul>
         <li><a href="#" class="link3">Abrir sobre</a></li>
         <li><a href="#" class="link3">Ver colección</a></li>
         <li><a href="#" class="link3">Ver album</a></li>
        </ul>
     </nav>

</header>
<div class="text-center">
    <h1>¡Bienvenido al album del mundial 2067!</h1>

</div>
